In [203]:
import pandas as pd
from mpmath.identification import transforms

In [204]:
df = pd.read_csv("../dataset/processed/cleaned_car_price_dataset.csv")

In [205]:
df.head(5)

,Unnamed: 0,Brand,Model,YOM,Engine (cc),Gear,Fuel Type,Millage(KM),Town,Date,Leasing,Condition,AIR CONDITION,POWER STEERING,POWER MIRROR,POWER WINDOW,Price
0,0,AUDI,A1,2016,990.0,Automatic,Petrol,99000.0,Gampaha,2025-02-05,No Leasing,USED,Available,Available,Available,Available,100.0
1,1,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,Colombo,2025-01-14,No Leasing,USED,Available,Available,Available,Available,97.0
2,2,AUDI,A1,2018,1000.0,Automatic,Petrol,77000.0,Dehiwala-Mount-Lavinia,2025-01-23,No Leasing,USED,Available,Available,Available,Available,98.5
3,3,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,Negombo,2024-12-21,No Leasing,USED,Available,Available,Available,Available,107.0
4,4,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,Colombo,2024-12-21,No Leasing,USED,Available,Available,Available,Available,99.5

Dropping first columns beacuse it contains id and has no effect on target varaibale on predicting

In [206]:
df = df.drop(df.columns[0],axis = 1)

In [207]:
df.head(20)

,Brand,Model,YOM,Engine (cc),Gear,Fuel Type,Millage(KM),Town,Date,Leasing,Condition,AIR CONDITION,POWER STEERING,POWER MIRROR,POWER WINDOW,Price
0,AUDI,A1,2016,990.0,Automatic,Petrol,99000.0,Gampaha,2025-02-05,No Leasing,USED,Available,Available,Available,Available,100.000
1,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,Colombo,2025-01-14,No Leasing,USED,Available,Available,Available,Available,97.000
2,AUDI,A1,2018,1000.0,Automatic,Petrol,77000.0,Dehiwala-Mount-Lavinia,2025-01-23,No Leasing,USED,Available,Available,Available,Available,98.500
3,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,Negombo,2024-12-21,No Leasing,USED,Available,Available,Available,Available,107.000
4,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,Colombo,2024-12-21,No Leasing,USED,Available,Available,Available,Available,99.500
5,AUDI,A1,2018,1500.0,Automatic,Petrol,77000.0,Colombo,2024-12-16,No Leasing,USED,Available,Available,Available,Available,91.375
6,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,Matara,2024-12-11,No Leasing,USED,Available,Available,Available,Available,104.000
7,AUDI,A1 RS,2016,1000.0,Automatic,Petrol,99000.0,Colombo,2025-01-19,No Leasing,USED,Available,Available,Available,Available,105.000
8,AUDI,A3 SPORTBACK,2017,1000.0,Automatic,Petrol,88000.0,Battaramulla,2025-02-01,No Leasing,USED,Available,Available,Not_Available,Available,125.000
9,AUDI,A4,2001,1900.0,Manual,Diesel,264000.0,Piliyandala,2025-02-04,No Leasing,USED,Available,Available,Available,Available,38.800
10,AUDI,A4,2010,1800.0,Automatic,Petrol,165000.0,Kotte,2025-02-03,No Leasing,USED,Available,Available,Available,Available,118.000
11,AUDI,A4,2011,2000.0,Automatic,Petrol,154000.0,Colombo,2025-01-18,Ongoing Lease,USED,Available,Available,Available,Available,125.000
12,AUDI,A4,1999,1900.0,Manual,Diesel,286000.0,Anuradapura,2025-01-09,No Leasing,USED,Available,Available,Available,Available,31.500
13,AUDI,A4,2003,1800.0,Automatic,Petrol,242000.0,Moratuwa,2025-01-06,No Leasing,USED,Available,Available,Available,Available,53.600
14,AUDI,A4,2011,2000.0,Automatic,Diesel,154000.0,Colombo,2025-01-27,No Leasing,USED,Available,Available,Not_Available,Available,108.000
15,AUDI,A4,2011,2000.0,Automatic,Diesel,154000.0,Kegalle,2024-12-28,No Leasing,USED,Available,Available,Available,Available,116.500
16,AUDI,A4,2010,1800.0,Automatic,Petrol,165000.0,Gampaha,2024-12-26,No Leasing,USED,Available,Available,Available,Available,100.000
17,AUDI,A4 1.9 TDI,2001,1900.0,Manual,Diesel,264000.0,Kotte,2025-01-16,No Leasing,USED,Available,Available,Available,Available,5.000
18,AUDI,A4 B8,2011,1800.0,Automatic,Petrol,154000.0,Weligama,2025-01-25,No Leasing,USED,Available,Available,Available,Available,112.000
19,AUDI,A4 S LINE,2010,1800.0,Automatic,Petrol,165000.0,Galle,2025-01-10,No Leasing,USED,Available,Available,Available,Available,102.000

Multiplye price columns by 100000 because it was previously on thousands

In [208]:
df['Price'] = df['Price'] * 100000

checking unique values in these columns

In [209]:
print(df['POWER WINDOW'].unique())
print(df['POWER MIRROR'].unique())
print(df['POWER STEERING'].unique())
print(df['AIR CONDITION'].unique())

['Available' 'Not_Available']
['Available' 'Not_Available']
['Available' 'Not_Available']
['Available' 'Not_Available']

Convert these to numerical value of 1 and 0

In [210]:

df['POWER WINDOW'] = df['POWER WINDOW'].map({"Available" : 1,"Not_Available":0})
df['POWER MIRROR'] = df['POWER MIRROR'].map({"Available" : 1,"Not_Available":0})
df['POWER STEERING'] = df['POWER STEERING'].map({"Available" : 1,"Not_Available":0})
df['AIR CONDITION'] = df['AIR CONDITION'].map({"Available" : 1,"Not_Available":0})

In [211]:
df.head(5)

,Brand,Model,YOM,Engine (cc),Gear,Fuel Type,Millage(KM),Town,Date,Leasing,Condition,AIR CONDITION,POWER STEERING,POWER MIRROR,POWER WINDOW,Price
0,AUDI,A1,2016,990.0,Automatic,Petrol,99000.0,Gampaha,2025-02-05,No Leasing,USED,1,1,1,1,10000000.0
1,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,Colombo,2025-01-14,No Leasing,USED,1,1,1,1,9700000.0
2,AUDI,A1,2018,1000.0,Automatic,Petrol,77000.0,Dehiwala-Mount-Lavinia,2025-01-23,No Leasing,USED,1,1,1,1,9850000.0
3,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,Negombo,2024-12-21,No Leasing,USED,1,1,1,1,10700000.0
4,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,Colombo,2024-12-21,No Leasing,USED,1,1,1,1,9950000.0

Since 2 categories in Condition and Leasing columns used binary encoding in here as well

In [212]:
df['Condition'] = df['Condition'].map({"USED":0,"NEW":1})
df['Leasing'] = df['Leasing'].map({"No Leasing":0,"Ongoing Lease":1})

In [213]:
df.head(20)

,Brand,Model,YOM,Engine (cc),Gear,Fuel Type,Millage(KM),Town,Date,Leasing,Condition,AIR CONDITION,POWER STEERING,POWER MIRROR,POWER WINDOW,Price
0,AUDI,A1,2016,990.0,Automatic,Petrol,99000.0,Gampaha,2025-02-05,0,0,1,1,1,1,10000000.0
1,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,Colombo,2025-01-14,0,0,1,1,1,1,9700000.0
2,AUDI,A1,2018,1000.0,Automatic,Petrol,77000.0,Dehiwala-Mount-Lavinia,2025-01-23,0,0,1,1,1,1,9850000.0
3,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,Negombo,2024-12-21,0,0,1,1,1,1,10700000.0
4,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,Colombo,2024-12-21,0,0,1,1,1,1,9950000.0
5,AUDI,A1,2018,1500.0,Automatic,Petrol,77000.0,Colombo,2024-12-16,0,0,1,1,1,1,9137500.0
6,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,Matara,2024-12-11,0,0,1,1,1,1,10400000.0
7,AUDI,A1 RS,2016,1000.0,Automatic,Petrol,99000.0,Colombo,2025-01-19,0,0,1,1,1,1,10500000.0
8,AUDI,A3 SPORTBACK,2017,1000.0,Automatic,Petrol,88000.0,Battaramulla,2025-02-01,0,0,1,1,0,1,12500000.0
9,AUDI,A4,2001,1900.0,Manual,Diesel,264000.0,Piliyandala,2025-02-04,0,0,1,1,1,1,3880000.0
10,AUDI,A4,2010,1800.0,Automatic,Petrol,165000.0,Kotte,2025-02-03,0,0,1,1,1,1,11800000.0
11,AUDI,A4,2011,2000.0,Automatic,Petrol,154000.0,Colombo,2025-01-18,1,0,1,1,1,1,12500000.0
12,AUDI,A4,1999,1900.0,Manual,Diesel,286000.0,Anuradapura,2025-01-09,0,0,1,1,1,1,3150000.0
13,AUDI,A4,2003,1800.0,Automatic,Petrol,242000.0,Moratuwa,2025-01-06,0,0,1,1,1,1,5360000.0
14,AUDI,A4,2011,2000.0,Automatic,Diesel,154000.0,Colombo,2025-01-27,0,0,1,1,0,1,10800000.0
15,AUDI,A4,2011,2000.0,Automatic,Diesel,154000.0,Kegalle,2024-12-28,0,0,1,1,1,1,11650000.0
16,AUDI,A4,2010,1800.0,Automatic,Petrol,165000.0,Gampaha,2024-12-26,0,0,1,1,1,1,10000000.0
17,AUDI,A4 1.9 TDI,2001,1900.0,Manual,Diesel,264000.0,Kotte,2025-01-16,0,0,1,1,1,1,500000.0
18,AUDI,A4 B8,2011,1800.0,Automatic,Petrol,154000.0,Weligama,2025-01-25,0,0,1,1,1,1,11200000.0
19,AUDI,A4 S LINE,2010,1800.0,Automatic,Petrol,165000.0,Galle,2025-01-10,0,0,1,1,1,1,10200000.0

Town doesnt usually affect vehicle price and keeping it will increase column count which will overfit some models

In [214]:
df = df.drop("Town", axis=1)

In [215]:
df

,Brand,Model,YOM,Engine (cc),Gear,Fuel Type,Millage(KM),Date,Leasing,Condition,AIR CONDITION,POWER STEERING,POWER MIRROR,POWER WINDOW,Price
0,AUDI,A1,2016,990.0,Automatic,Petrol,99000.0,2025-02-05,0,0,1,1,1,1,10000000.0
1,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,2025-01-14,0,0,1,1,1,1,9700000.0
2,AUDI,A1,2018,1000.0,Automatic,Petrol,77000.0,2025-01-23,0,0,1,1,1,1,9850000.0
3,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,2024-12-21,0,0,1,1,1,1,10700000.0
4,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,2024-12-21,0,0,1,1,1,1,9950000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9400,ZOTYE,Z100,2018,1000.0,Manual,Petrol,77000.0,2024-12-16,0,0,1,1,1,1,2750000.0
9401,ZOTYE,Z100,2019,998.0,Manual,Petrol,66000.0,2024-12-12,0,0,1,1,1,1,2900000.0
9402,ZOTYE,Z100,2017,1000.0,Manual,Petrol,88000.0,2024-12-04,0,0,1,1,1,1,2750000.0
9403,ZOTYE,ZOTYE,2017,1300.0,Manual,Petrol,88000.0,2025-01-13,0,0,1,1,0,1,875000.0
9404,ZOTYE,ZOTYE,1999,1900.0,Automatic,Petrol,286000.0,2025-01-19,0,0,1,1,1,1,1550000.0

In [216]:
df['Date'].unique()

array(['2025-02-05', '2025-01-14', '2025-01-23', '2024-12-21',
       '2024-12-16', '2024-12-11', '2025-01-19', '2025-02-01',
       '2025-02-04', '2025-02-03', '2025-01-18', '2025-01-09',
       '2025-01-06', '2025-01-27', '2024-12-28', '2024-12-26',
       '2025-01-16', '2025-01-25', '2025-01-10', '2024-12-27',
       '2025-01-03', '2024-12-31', '2024-12-08', '2024-12-29',
       '2025-01-15', '2025-01-21', '2025-01-04', '2024-12-23',
       '2024-12-04', '2025-01-31', '2025-02-02', '2024-12-15',
       '2025-01-29', '2025-01-26', '2024-12-19', '2024-12-17',
       '2025-01-28', '2024-12-10', '2024-12-05', '2025-01-30',
       '2025-01-17', '2025-01-07', '2025-01-20', '2025-01-05',
       '2024-12-20', '2024-12-13', '2024-12-09', '2025-01-22',
       '2025-01-11', '2024-12-18', '2024-12-07', '2025-01-24',
       '2025-01-02', '2024-12-24', '2024-12-14', '2025-01-01',
       '2024-12-25', '2024-12-22', '2025-01-08', '2025-01-12',
       '2024-12-30', '2025-01-13', '2024-12-12', '2024-12-06',
       '2024-12-03'], dtype=object)

create year listed and date listed columns from the Date posted to check seasonal and yearly price variations

In [217]:
df["Date"] = pd.to_datetime(df["Date"])
df["Year_Listed"] = df["Date"].dt.year
df["Month_Listed"] = df["Date"].dt.month

In [218]:
df.head(10)

,Brand,Model,YOM,Engine (cc),Gear,Fuel Type,Millage(KM),Date,Leasing,Condition,AIR CONDITION,POWER STEERING,POWER MIRROR,POWER WINDOW,Price,Year_Listed,Month_Listed
0,AUDI,A1,2016,990.0,Automatic,Petrol,99000.0,2025-02-05,0,0,1,1,1,1,10000000.0,2025,2
1,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,2025-01-14,0,0,1,1,1,1,9700000.0,2025,1
2,AUDI,A1,2018,1000.0,Automatic,Petrol,77000.0,2025-01-23,0,0,1,1,1,1,9850000.0,2025,1
3,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,2024-12-21,0,0,1,1,1,1,10700000.0,2024,12
4,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,2024-12-21,0,0,1,1,1,1,9950000.0,2024,12
5,AUDI,A1,2018,1500.0,Automatic,Petrol,77000.0,2024-12-16,0,0,1,1,1,1,9137500.0,2024,12
6,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,2024-12-11,0,0,1,1,1,1,10400000.0,2024,12
7,AUDI,A1 RS,2016,1000.0,Automatic,Petrol,99000.0,2025-01-19,0,0,1,1,1,1,10500000.0,2025,1
8,AUDI,A3 SPORTBACK,2017,1000.0,Automatic,Petrol,88000.0,2025-02-01,0,0,1,1,0,1,12500000.0,2025,2
9,AUDI,A4,2001,1900.0,Manual,Diesel,264000.0,2025-02-04,0,0,1,1,1,1,3880000.0,2025,2

Added a car age column becasue vehicle age affects with vehcile price

In [219]:
df["Car_Age"] = 2025 - df["YOM"]

Added a another column to get mileage per year of cars so if car has run more miles in less years

In [220]:
df['Mileage_per_year'] = df['Millage(KM)'] / df['Car_Age']

In [221]:
df.head(5)

,Brand,Model,YOM,Engine (cc),Gear,Fuel Type,Millage(KM),Date,Leasing,Condition,AIR CONDITION,POWER STEERING,POWER MIRROR,POWER WINDOW,Price,Year_Listed,Month_Listed,Car_Age,Mileage_per_year
0,AUDI,A1,2016,990.0,Automatic,Petrol,99000.0,2025-02-05,0,0,1,1,1,1,10000000.0,2025,2,9,11000.0
1,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,2025-01-14,0,0,1,1,1,1,9700000.0,2025,1,8,11000.0
2,AUDI,A1,2018,1000.0,Automatic,Petrol,77000.0,2025-01-23,0,0,1,1,1,1,9850000.0,2025,1,7,11000.0
3,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,2024-12-21,0,0,1,1,1,1,10700000.0,2024,12,8,11000.0
4,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,2024-12-21,0,0,1,1,1,1,9950000.0,2024,12,8,11000.0

In [222]:
df['Fuel Type'].unique()

array(['Petrol', 'Diesel', 'Hybrid', 'Electric'], dtype=object)

In [223]:
df['Gear'].unique()

array(['Automatic', 'Manual'], dtype=object)

encode with sklearn one hot encoder and convert to a datafram and add to original dataframe

In [224]:
from sklearn.preprocessing import OneHotEncoder


ohe = OneHotEncoder(handle_unknown="ignore", sparse_output=False)  # sparse=False → get numpy array
X_encoded = ohe.fit_transform(df[["Fuel Type"]])


encoded_df = pd.DataFrame(
    X_encoded,
    columns=ohe.get_feature_names_out(["Fuel Type"]),
    index=df.index
)


df = pd.concat([df, encoded_df], axis=1)

In [225]:

ohe_brand = OneHotEncoder(handle_unknown="ignore", sparse_output=False)
brand_encoded = ohe_brand.fit_transform(df[["Brand"]])

brand_encoded_df = pd.DataFrame(
    brand_encoded,
    columns=ohe_brand.get_feature_names_out(["Brand"]),
    index=df.index
)

df = pd.concat([df, brand_encoded_df], axis=1)

In [226]:
df.head(5)

,Brand,Model,YOM,Engine (cc),Gear,Fuel Type,Millage(KM),Date,Leasing,Condition,...,Brand_SEAT,Brand_SKODA,Brand_SUBARU,Brand_SUZUKI,Brand_TATA,Brand_TOYOTA,Brand_VOLKSWAGEN,Brand_VOLVO,Brand_WILLYS,Brand_ZOTYE
0,AUDI,A1,2016,990.0,Automatic,Petrol,99000.0,2025-02-05,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,2025-01-14,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AUDI,A1,2018,1000.0,Automatic,Petrol,77000.0,2025-01-23,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,2024-12-21,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,AUDI,A1,2017,1000.0,Automatic,Petrol,88000.0,2024-12-21,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Since 2 categories convert to 1 and 0 using binary encoding

In [227]:
df["Gear"] = df["Gear"].map({"Automatic": 1, "Manual": 0})

In [228]:
df.head(20)

,Brand,Model,YOM,Engine (cc),Gear,Fuel Type,Millage(KM),Date,Leasing,Condition,...,Brand_SEAT,Brand_SKODA,Brand_SUBARU,Brand_SUZUKI,Brand_TATA,Brand_TOYOTA,Brand_VOLKSWAGEN,Brand_VOLVO,Brand_WILLYS,Brand_ZOTYE
0,AUDI,A1,2016,990.0,1,Petrol,99000.0,2025-02-05,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AUDI,A1,2017,1000.0,1,Petrol,88000.0,2025-01-14,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AUDI,A1,2018,1000.0,1,Petrol,77000.0,2025-01-23,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AUDI,A1,2017,1000.0,1,Petrol,88000.0,2024-12-21,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,AUDI,A1,2017,1000.0,1,Petrol,88000.0,2024-12-21,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,AUDI,A1,2018,1500.0,1,Petrol,77000.0,2024-12-16,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,AUDI,A1,2017,1000.0,1,Petrol,88000.0,2024-12-11,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,AUDI,A1 RS,2016,1000.0,1,Petrol,99000.0,2025-01-19,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,AUDI,A3 SPORTBACK,2017,1000.0,1,Petrol,88000.0,2025-02-01,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,AUDI,A4,2001,1900.0,0,Diesel,264000.0,2025-02-04,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,AUDI,A4,2010,1800.0,1,Petrol,165000.0,2025-02-03,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,AUDI,A4,2011,2000.0,1,Petrol,154000.0,2025-01-18,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,AUDI,A4,1999,1900.0,0,Diesel,286000.0,2025-01-09,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,AUDI,A4,2003,1800.0,1,Petrol,242000.0,2025-01-06,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,AUDI,A4,2011,2000.0,1,Diesel,154000.0,2025-01-27,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,AUDI,A4,2011,2000.0,1,Diesel,154000.0,2024-12-28,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,AUDI,A4,2010,1800.0,1,Petrol,165000.0,2024-12-26,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,AUDI,A4 1.9 TDI,2001,1900.0,0,Diesel,264000.0,2025-01-16,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,AUDI,A4 B8,2011,1800.0,1,Petrol,154000.0,2025-01-25,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,AUDI,A4 S LINE,2010,1800.0,1,Petrol,165000.0,2025-01-10,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [229]:
df['Engine (cc)'].unique()

array([ 990. , 1000. , 1500. , 1900. , 1800. , 2000. , 3000. , 1300. ,
       1275. , 1600. , 1990. , 1997. , 1590. , 1796. , 2500. , 1980. ,
        800. ,  812. ,  798. ,  670. ,  833. ,  900. , 1400. , 1200. ,
       1100. , 1320. , 1330. , 1319. , 1198. , 1234. , 2198. , 1568. ,
       1499. , 1113. , 1290. ,  650. ,  660. ,  850. ,  825. ,  847. ,
        890. ,  680. , 1170. , 1171. ,  799. ,  813. , 1366. , 1240. ,
       1299. , 2139. , 1598. , 1490. , 2400. , 1498. , 1322. , 1495. ,
       1450. , 1799. , 1350. , 1339. , 1422. , 1470. , 1390. , 1328. ,
       1360. , 1496. , 1399. , 1493. , 1893. , 1488. , 2003. , 1333. ,
        690. ,  658. , 1714. , 1341. , 1562. , 1395. , 1599. , 1790. ,
        814. ,  815. , 1197. , 2180. , 1566. , 1086. , 1970. , 1999. ,
       2200. , 2100. , 1794. , 1533. , 1480. , 2190. , 2800. , 1950. ,
       1998. ,  998. ,  946. , 1343. , 1080. , 1542. , 1324. , 1274. ,
       1340. , 1680. , 1373. , 1597. , 1650. , 1587. , 2150. , 2596. ,
       3200. , 3750. , 1987. , 1988. , 2600. , 1584. , 1580. ,  997. ,
       1143. , 1342. , 1278. , 1075. ,  970. , 2680. , 1460. , 1879. ,
       2470. , 1410. , 1822. , 1298. , 1250. , 1456. , 1300.8, 1780. ,
       1270. , 1190. , 1700. , 1830. , 1760. , 1890. , 1843. , 1989. ,
       1973. , 2350. , 2340. , 2300. , 1995. , 1534. , 1295. , 1707. ,
       1550. ,  980. ,  993. , 1740. , 1115. ,  999. , 1016. , 1719. ,
       1785. , 1527. , 1850. , 1428. , 1397. , 1611. , 2184. , 1388. ,
        989. , 2950. , 1411. , 1468. ,  880. , 2016. ,  796. ,  790. ,
       1060. , 1111. ,  698. ,  640. ,  860. ,  669. ,  600. ,  746. ,
        964. , 1097. , 1008. ,  996. ,  984. ,  695. , 1329. ,  795. ,
        909. ,  630. ,  718. , 1242. ,  768. , 1061. ,  659. ,  700. ,
       1063. , 1005. ,  657. ,  651. ,  665. ,  620. ,  750. , 1193. ,
       1396. , 1405. , 1180. , 1398. , 2448. ,  624. ,  625. ,  626. ,
        629. ,  610. ,  645. ,  634. , 1536. , 1870. , 1512. , 1483. ,
       1820. , 1660. , 1842. , 1297. , 2362. , 2360. , 1920. , 1974. ,
       1618. , 1735. , 1667. , 1809. , 1280. , 1975. , 1930. , 1679. ,
       1773. , 1589. , 1960. , 1032. , 1420. , 1720. , 1452. , 1898. ,
       1347. , 2970. , 2480. , 2164. , 1362. , 1514. , 1716. , 1789. ,
       1750. , 1283. , 1497. , 1077. , 1015. , 1276. , 1896. , 2770. ,
       1948. , 1798. ])

One hot encoding model will create lot of columns more than 1500 1440 unique models  so get freqs of those

In [230]:
df['Brand_Freq'] = df['Brand'].map(df['Brand'].value_counts())
df['Model_Freq'] = df['Model'].map(df['Model'].value_counts())

Generate brand and model avg price

In [231]:
df["Brand_AvgPrice"] = df.groupby("Brand")["Price"].transform("mean")
df["Model_AvgPrice"] = df.groupby("Model")["Price"].transform("mean")

In [232]:
df.head(20)

,Brand,Model,YOM,Engine (cc),Gear,Fuel Type,Millage(KM),Date,Leasing,Condition,...,Brand_TATA,Brand_TOYOTA,Brand_VOLKSWAGEN,Brand_VOLVO,Brand_WILLYS,Brand_ZOTYE,Brand_Freq,Model_Freq,Brand_AvgPrice,Model_AvgPrice
0,AUDI,A1,2016,990.0,1,Petrol,99000.0,2025-02-05,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,27,7,8.272685e+06,9962500.0
1,AUDI,A1,2017,1000.0,1,Petrol,88000.0,2025-01-14,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,27,7,8.272685e+06,9962500.0
2,AUDI,A1,2018,1000.0,1,Petrol,77000.0,2025-01-23,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,27,7,8.272685e+06,9962500.0
3,AUDI,A1,2017,1000.0,1,Petrol,88000.0,2024-12-21,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,27,7,8.272685e+06,9962500.0
4,AUDI,A1,2017,1000.0,1,Petrol,88000.0,2024-12-21,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,27,7,8.272685e+06,9962500.0
5,AUDI,A1,2018,1500.0,1,Petrol,77000.0,2024-12-16,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,27,7,8.272685e+06,9962500.0
6,AUDI,A1,2017,1000.0,1,Petrol,88000.0,2024-12-11,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,27,7,8.272685e+06,9962500.0
7,AUDI,A1 RS,2016,1000.0,1,Petrol,99000.0,2025-01-19,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,27,1,8.272685e+06,10500000.0
8,AUDI,A3 SPORTBACK,2017,1000.0,1,Petrol,88000.0,2025-02-01,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,27,1,8.272685e+06,12500000.0
9,AUDI,A4,2001,1900.0,0,Diesel,264000.0,2025-02-04,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,27,8,8.272685e+06,8642500.0
10,AUDI,A4,2010,1800.0,1,Petrol,165000.0,2025-02-03,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,27,8,8.272685e+06,8642500.0
11,AUDI,A4,2011,2000.0,1,Petrol,154000.0,2025-01-18,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,27,8,8.272685e+06,8642500.0
12,AUDI,A4,1999,1900.0,0,Diesel,286000.0,2025-01-09,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,27,8,8.272685e+06,8642500.0
13,AUDI,A4,2003,1800.0,1,Petrol,242000.0,2025-01-06,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,27,8,8.272685e+06,8642500.0
14,AUDI,A4,2011,2000.0,1,Diesel,154000.0,2025-01-27,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,27,8,8.272685e+06,8642500.0
15,AUDI,A4,2011,2000.0,1,Diesel,154000.0,2024-12-28,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,27,8,8.272685e+06,8642500.0
16,AUDI,A4,2010,1800.0,1,Petrol,165000.0,2024-12-26,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,27,8,8.272685e+06,8642500.0
17,AUDI,A4 1.9 TDI,2001,1900.0,0,Diesel,264000.0,2025-01-16,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,27,1,8.272685e+06,500000.0
18,AUDI,A4 B8,2011,1800.0,1,Petrol,154000.0,2025-01-25,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,27,1,8.272685e+06,11200000.0
19,AUDI,A4 S LINE,2010,1800.0,1,Petrol,165000.0,2025-01-10,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,27,1,8.272685e+06,10200000.0

In [233]:
df["BrandModel_AvgPrice"] = df.groupby(["Brand", "Model"])["Price"].transform("mean")

In [234]:
df["BrandModelYear_AvgPrice"] = df.groupby(["Brand", "Model", "YOM"])["Price"].transform("mean")

In [235]:
luxury_brands = {"AUDI", "BMW", "MERCEDES", "LEXUS", "JAGUAR", "LAND ROVER", "PORSCHE", "VOLVO"}
df["Luxury_Brand"] = df["Brand"].apply(lambda x: 1 if x.upper() in luxury_brands else 0)

In [236]:
df.head(5)

,Brand,Model,YOM,Engine (cc),Gear,Fuel Type,Millage(KM),Date,Leasing,Condition,...,Brand_VOLVO,Brand_WILLYS,Brand_ZOTYE,Brand_Freq,Model_Freq,Brand_AvgPrice,Model_AvgPrice,BrandModel_AvgPrice,BrandModelYear_AvgPrice,Luxury_Brand
0,AUDI,A1,2016,990.0,1,Petrol,99000.0,2025-02-05,0,0,...,0.0,0.0,0.0,27,7,8.272685e+06,9962500.0,9962500.0,10000000.0,1
1,AUDI,A1,2017,1000.0,1,Petrol,88000.0,2025-01-14,0,0,...,0.0,0.0,0.0,27,7,8.272685e+06,9962500.0,9962500.0,10187500.0,1
2,AUDI,A1,2018,1000.0,1,Petrol,77000.0,2025-01-23,0,0,...,0.0,0.0,0.0,27,7,8.272685e+06,9962500.0,9962500.0,9493750.0,1
3,AUDI,A1,2017,1000.0,1,Petrol,88000.0,2024-12-21,0,0,...,0.0,0.0,0.0,27,7,8.272685e+06,9962500.0,9962500.0,10187500.0,1
4,AUDI,A1,2017,1000.0,1,Petrol,88000.0,2024-12-21,0,0,...,0.0,0.0,0.0,27,7,8.272685e+06,9962500.0,9962500.0,10187500.0,1

In [237]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9405 entries, 0 to 9404
Data columns (total 75 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Brand                    9405 non-null   object
 1   Model                    9405 non-null   object
 2   YOM                      9405 non-null   int64
 3   Engine (cc)              9405 non-null   float64
 4   Gear                     9405 non-null   int64
 5   Fuel Type                9405 non-null   object
 6   Millage(KM)              9405 non-null   float64
 7   Date                     9405 non-null   datetime64[ns]
 8   Leasing                  9405 non-null   int64
 9   Condition                9405 non-null   int64
 10  AIR CONDITION            9405 non-null   int64
 11  POWER STEERING           9405 non-null   int64
 12  POWER MIRROR             9405 non-null   int64
 13  POWER WINDOW             9405 non-null   int64
 14  Price                    9405 non-null   float64
 15  Year_Listed              9405 non-null   int32
 16  Month_Listed             9405 non-null   int32
 17  Car_Age                  9405 non-null   int64
 18  Mileage_per_year         9405 non-null   float64
 19  Fuel Type_Diesel         9405 non-null   float64
 20  Fuel Type_Electric       9405 non-null   float64
 21  Fuel Type_Hybrid         9405 non-null   float64
 22  Fuel Type_Petrol         9405 non-null   float64
 23  Brand_AUDI               9405 non-null   float64
 24  Brand_AUSTIN             9405 non-null   float64
 25  Brand_BAJAJ              9405 non-null   float64
 26  Brand_BMW                9405 non-null   float64
 27  Brand_CHERY              9405 non-null   float64
 28  Brand_CHEVROLET          9405 non-null   float64
 29  Brand_DAEWOO             9405 non-null   float64
 30  Brand_DAIHATSU           9405 non-null   float64
 31  Brand_DATSUN             9405 non-null   float64
 32  Brand_FIAT               9405 non-null   float64
 33  Brand_FORD               9405 non-null   float64
 34  Brand_FOTON              9405 non-null   float64
 35  Brand_HONDA              9405 non-null   float64
 36  Brand_HYUNDAI            9405 non-null   float64
 37  Brand_ISUZU              9405 non-null   float64
 38  Brand_JAGUAR             9405 non-null   float64
 39  Brand_JEEP               9405 non-null   float64
 40  Brand_JONWAY             9405 non-null   float64
 41  Brand_KIA                9405 non-null   float64
 42  Brand_LEXUS              9405 non-null   float64
 43  Brand_MAHINDRA           9405 non-null   float64
 44  Brand_MAZDA              9405 non-null   float64
 45  Brand_MERCEDES-BENZ      9405 non-null   float64
 46  Brand_MG                 9405 non-null   float64
 47  Brand_MICRO              9405 non-null   float64
 48  Brand_MINI               9405 non-null   float64
 49  Brand_MITSUBISHI         9405 non-null   float64
 50  Brand_MORRIS             9405 non-null   float64
 51  Brand_NISSAN             9405 non-null   float64
 52  Brand_OPEL               9405 non-null   float64
 53  Brand_OTHER              9405 non-null   float64
 54  Brand_PERODUA            9405 non-null   float64
 55  Brand_PEUGEOT            9405 non-null   float64
 56  Brand_PROTON             9405 non-null   float64
 57  Brand_RENAULT            9405 non-null   float64
 58  Brand_SEAT               9405 non-null   float64
 59  Brand_SKODA              9405 non-null   float64
 60  Brand_SUBARU             9405 non-null   float64
 61  Brand_SUZUKI             9405 non-null   float64
 62  Brand_TATA               9405 non-null   float64
 63  Brand_TOYOTA             9405 non-null   float64
 64  Brand_VOLKSWAGEN         9405 non-null   float64
 65  Brand_VOLVO              9405 non-null   float64
 66  Brand_WILLYS             9405 non-null   float64
 67  Brand_ZOTYE              9405 non-null   float64
 68  Brand_Freq               9405 non-null   int64
 69  Model_Freq               9405 non-null   int64
 70  Brand_AvgPrice           9405 non-null   float64
 71  Model_AvgPrice           9405 non-null   float64
 72  BrandModel_AvgPrice      9405 non-null   float64
 73  BrandModelYear_AvgPrice  9405 non-null   float64
 74  Luxury_Brand             9405 non-null   int64
dtypes: datetime64[ns](1), float64(57), int32(2), int64(12), object(3)
memory usage: 5.3+ MB

In [238]:
df = df.loc[:, ~df.columns.duplicated()]

In [239]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9405 entries, 0 to 9404
Data columns (total 75 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Brand                    9405 non-null   object
 1   Model                    9405 non-null   object
 2   YOM                      9405 non-null   int64
 3   Engine (cc)              9405 non-null   float64
 4   Gear                     9405 non-null   int64
 5   Fuel Type                9405 non-null   object
 6   Millage(KM)              9405 non-null   float64
 7   Date                     9405 non-null   datetime64[ns]
 8   Leasing                  9405 non-null   int64
 9   Condition                9405 non-null   int64
 10  AIR CONDITION            9405 non-null   int64
 11  POWER STEERING           9405 non-null   int64
 12  POWER MIRROR             9405 non-null   int64
 13  POWER WINDOW             9405 non-null   int64
 14  Price                    9405 non-null   float64
 15  Year_Listed              9405 non-null   int32
 16  Month_Listed             9405 non-null   int32
 17  Car_Age                  9405 non-null   int64
 18  Mileage_per_year         9405 non-null   float64
 19  Fuel Type_Diesel         9405 non-null   float64
 20  Fuel Type_Electric       9405 non-null   float64
 21  Fuel Type_Hybrid         9405 non-null   float64
 22  Fuel Type_Petrol         9405 non-null   float64
 23  Brand_AUDI               9405 non-null   float64
 24  Brand_AUSTIN             9405 non-null   float64
 25  Brand_BAJAJ              9405 non-null   float64
 26  Brand_BMW                9405 non-null   float64
 27  Brand_CHERY              9405 non-null   float64
 28  Brand_CHEVROLET          9405 non-null   float64
 29  Brand_DAEWOO             9405 non-null   float64
 30  Brand_DAIHATSU           9405 non-null   float64
 31  Brand_DATSUN             9405 non-null   float64
 32  Brand_FIAT               9405 non-null   float64
 33  Brand_FORD               9405 non-null   float64
 34  Brand_FOTON              9405 non-null   float64
 35  Brand_HONDA              9405 non-null   float64
 36  Brand_HYUNDAI            9405 non-null   float64
 37  Brand_ISUZU              9405 non-null   float64
 38  Brand_JAGUAR             9405 non-null   float64
 39  Brand_JEEP               9405 non-null   float64
 40  Brand_JONWAY             9405 non-null   float64
 41  Brand_KIA                9405 non-null   float64
 42  Brand_LEXUS              9405 non-null   float64
 43  Brand_MAHINDRA           9405 non-null   float64
 44  Brand_MAZDA              9405 non-null   float64
 45  Brand_MERCEDES-BENZ      9405 non-null   float64
 46  Brand_MG                 9405 non-null   float64
 47  Brand_MICRO              9405 non-null   float64
 48  Brand_MINI               9405 non-null   float64
 49  Brand_MITSUBISHI         9405 non-null   float64
 50  Brand_MORRIS             9405 non-null   float64
 51  Brand_NISSAN             9405 non-null   float64
 52  Brand_OPEL               9405 non-null   float64
 53  Brand_OTHER              9405 non-null   float64
 54  Brand_PERODUA            9405 non-null   float64
 55  Brand_PEUGEOT            9405 non-null   float64
 56  Brand_PROTON             9405 non-null   float64
 57  Brand_RENAULT            9405 non-null   float64
 58  Brand_SEAT               9405 non-null   float64
 59  Brand_SKODA              9405 non-null   float64
 60  Brand_SUBARU             9405 non-null   float64
 61  Brand_SUZUKI             9405 non-null   float64
 62  Brand_TATA               9405 non-null   float64
 63  Brand_TOYOTA             9405 non-null   float64
 64  Brand_VOLKSWAGEN         9405 non-null   float64
 65  Brand_VOLVO              9405 non-null   float64
 66  Brand_WILLYS             9405 non-null   float64
 67  Brand_ZOTYE              9405 non-null   float64
 68  Brand_Freq               9405 non-null   int64
 69  Model_Freq               9405 non-null   int64
 70  Brand_AvgPrice           9405 non-null   float64
 71  Model_AvgPrice           9405 non-null   float64
 72  BrandModel_AvgPrice      9405 non-null   float64
 73  BrandModelYear_AvgPrice  9405 non-null   float64
 74  Luxury_Brand             9405 non-null   int64
dtypes: datetime64[ns](1), float64(57), int32(2), int64(12), object(3)
memory usage: 5.3+ MB

In [240]:
df.head(20)

,Brand,Model,YOM,Engine (cc),Gear,Fuel Type,Millage(KM),Date,Leasing,Condition,...,Brand_VOLVO,Brand_WILLYS,Brand_ZOTYE,Brand_Freq,Model_Freq,Brand_AvgPrice,Model_AvgPrice,BrandModel_AvgPrice,BrandModelYear_AvgPrice,Luxury_Brand
0,AUDI,A1,2016,990.0,1,Petrol,99000.0,2025-02-05,0,0,...,0.0,0.0,0.0,27,7,8.272685e+06,9962500.0,9962500.0,10000000.0,1
1,AUDI,A1,2017,1000.0,1,Petrol,88000.0,2025-01-14,0,0,...,0.0,0.0,0.0,27,7,8.272685e+06,9962500.0,9962500.0,10187500.0,1
2,AUDI,A1,2018,1000.0,1,Petrol,77000.0,2025-01-23,0,0,...,0.0,0.0,0.0,27,7,8.272685e+06,9962500.0,9962500.0,9493750.0,1
3,AUDI,A1,2017,1000.0,1,Petrol,88000.0,2024-12-21,0,0,...,0.0,0.0,0.0,27,7,8.272685e+06,9962500.0,9962500.0,10187500.0,1
4,AUDI,A1,2017,1000.0,1,Petrol,88000.0,2024-12-21,0,0,...,0.0,0.0,0.0,27,7,8.272685e+06,9962500.0,9962500.0,10187500.0,1
5,AUDI,A1,2018,1500.0,1,Petrol,77000.0,2024-12-16,0,0,...,0.0,0.0,0.0,27,7,8.272685e+06,9962500.0,9962500.0,9493750.0,1
6,AUDI,A1,2017,1000.0,1,Petrol,88000.0,2024-12-11,0,0,...,0.0,0.0,0.0,27,7,8.272685e+06,9962500.0,9962500.0,10187500.0,1
7,AUDI,A1 RS,2016,1000.0,1,Petrol,99000.0,2025-01-19,0,0,...,0.0,0.0,0.0,27,1,8.272685e+06,10500000.0,10500000.0,10500000.0,1
8,AUDI,A3 SPORTBACK,2017,1000.0,1,Petrol,88000.0,2025-02-01,0,0,...,0.0,0.0,0.0,27,1,8.272685e+06,12500000.0,12500000.0,12500000.0,1
9,AUDI,A4,2001,1900.0,0,Diesel,264000.0,2025-02-04,0,0,...,0.0,0.0,0.0,27,8,8.272685e+06,8642500.0,8642500.0,3880000.0,1
10,AUDI,A4,2010,1800.0,1,Petrol,165000.0,2025-02-03,0,0,...,0.0,0.0,0.0,27,8,8.272685e+06,8642500.0,8642500.0,10900000.0,1
11,AUDI,A4,2011,2000.0,1,Petrol,154000.0,2025-01-18,1,0,...,0.0,0.0,0.0,27,8,8.272685e+06,8642500.0,8642500.0,11650000.0,1
12,AUDI,A4,1999,1900.0,0,Diesel,286000.0,2025-01-09,0,0,...,0.0,0.0,0.0,27,8,8.272685e+06,8642500.0,8642500.0,3150000.0,1
13,AUDI,A4,2003,1800.0,1,Petrol,242000.0,2025-01-06,0,0,...,0.0,0.0,0.0,27,8,8.272685e+06,8642500.0,8642500.0,5360000.0,1
14,AUDI,A4,2011,2000.0,1,Diesel,154000.0,2025-01-27,0,0,...,0.0,0.0,0.0,27,8,8.272685e+06,8642500.0,8642500.0,11650000.0,1
15,AUDI,A4,2011,2000.0,1,Diesel,154000.0,2024-12-28,0,0,...,0.0,0.0,0.0,27,8,8.272685e+06,8642500.0,8642500.0,11650000.0,1
16,AUDI,A4,2010,1800.0,1,Petrol,165000.0,2024-12-26,0,0,...,0.0,0.0,0.0,27,8,8.272685e+06,8642500.0,8642500.0,10900000.0,1
17,AUDI,A4 1.9 TDI,2001,1900.0,0,Diesel,264000.0,2025-01-16,0,0,...,0.0,0.0,0.0,27,1,8.272685e+06,500000.0,500000.0,500000.0,1
18,AUDI,A4 B8,2011,1800.0,1,Petrol,154000.0,2025-01-25,0,0,...,0.0,0.0,0.0,27,1,8.272685e+06,11200000.0,11200000.0,11200000.0,1
19,AUDI,A4 S LINE,2010,1800.0,1,Petrol,165000.0,2025-01-10,0,0,...,0.0,0.0,0.0,27,1,8.272685e+06,10200000.0,10200000.0,10200000.0,1

Drop these categorical columns beacsue now they are encoded

In [241]:
df = df.drop(columns=["Brand","Model", "Date", "Fuel Type"])

In [242]:
df.info(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9405 entries, 0 to 9404
Data columns (total 71 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   YOM                      9405 non-null   int64
 1   Engine (cc)              9405 non-null   float64
 2   Gear                     9405 non-null   int64
 3   Millage(KM)              9405 non-null   float64
 4   Leasing                  9405 non-null   int64
 5   Condition                9405 non-null   int64
 6   AIR CONDITION            9405 non-null   int64
 7   POWER STEERING           9405 non-null   int64
 8   POWER MIRROR             9405 non-null   int64
 9   POWER WINDOW             9405 non-null   int64
 10  Price                    9405 non-null   float64
 11  Year_Listed              9405 non-null   int32
 12  Month_Listed             9405 non-null   int32
 13  Car_Age                  9405 non-null   int64
 14  Mileage_per_year         9405 non-null   float64
 15  Fuel Type_Diesel         9405 non-null   float64
 16  Fuel Type_Electric       9405 non-null   float64
 17  Fuel Type_Hybrid         9405 non-null   float64
 18  Fuel Type_Petrol         9405 non-null   float64
 19  Brand_AUDI               9405 non-null   float64
 20  Brand_AUSTIN             9405 non-null   float64
 21  Brand_BAJAJ              9405 non-null   float64
 22  Brand_BMW                9405 non-null   float64
 23  Brand_CHERY              9405 non-null   float64
 24  Brand_CHEVROLET          9405 non-null   float64
 25  Brand_DAEWOO             9405 non-null   float64
 26  Brand_DAIHATSU           9405 non-null   float64
 27  Brand_DATSUN             9405 non-null   float64
 28  Brand_FIAT               9405 non-null   float64
 29  Brand_FORD               9405 non-null   float64
 30  Brand_FOTON              9405 non-null   float64
 31  Brand_HONDA              9405 non-null   float64
 32  Brand_HYUNDAI            9405 non-null   float64
 33  Brand_ISUZU              9405 non-null   float64
 34  Brand_JAGUAR             9405 non-null   float64
 35  Brand_JEEP               9405 non-null   float64
 36  Brand_JONWAY             9405 non-null   float64
 37  Brand_KIA                9405 non-null   float64
 38  Brand_LEXUS              9405 non-null   float64
 39  Brand_MAHINDRA           9405 non-null   float64
 40  Brand_MAZDA              9405 non-null   float64
 41  Brand_MERCEDES-BENZ      9405 non-null   float64
 42  Brand_MG                 9405 non-null   float64
 43  Brand_MICRO              9405 non-null   float64
 44  Brand_MINI               9405 non-null   float64
 45  Brand_MITSUBISHI         9405 non-null   float64
 46  Brand_MORRIS             9405 non-null   float64
 47  Brand_NISSAN             9405 non-null   float64
 48  Brand_OPEL               9405 non-null   float64
 49  Brand_OTHER              9405 non-null   float64
 50  Brand_PERODUA            9405 non-null   float64
 51  Brand_PEUGEOT            9405 non-null   float64
 52  Brand_PROTON             9405 non-null   float64
 53  Brand_RENAULT            9405 non-null   float64
 54  Brand_SEAT               9405 non-null   float64
 55  Brand_SKODA              9405 non-null   float64
 56  Brand_SUBARU             9405 non-null   float64
 57  Brand_SUZUKI             9405 non-null   float64
 58  Brand_TATA               9405 non-null   float64
 59  Brand_TOYOTA             9405 non-null   float64
 60  Brand_VOLKSWAGEN         9405 non-null   float64
 61  Brand_VOLVO              9405 non-null   float64
 62  Brand_WILLYS             9405 non-null   float64
 63  Brand_ZOTYE              9405 non-null   float64
 64  Brand_Freq               9405 non-null   int64
 65  Model_Freq               9405 non-null   int64
 66  Brand_AvgPrice           9405 non-null   float64
 67  Model_AvgPrice           9405 non-null   float64
 68  BrandModel_AvgPrice      9405 non-null   float64
 69  BrandModelYear_AvgPrice  9405 non-null   float64
 70  Luxury_Brand             9405 non-null   int64
dtypes: float64(57), int32(2), int64(12)
memory usage: 5.0 MB

In [243]:

df.to_csv("../dataset/processed/feature_engineered_dataset.csv", index=False)

KeyError: 'Brand'